/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.wm-adminuser-main-ui > header {
  background: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-adminuser-main-ui > header > section {
  margin-right: 30px;
}

.wm-adminuser-main-ui > header > section input {
  height: 32px;
  border-radius: 4px;
  padding-left: 10px;
  border: 1px solid #be0000;
}

.wm-adminuser-main-ui > header > div {
  font-size: 20px;
  margin-left: 40px;
  position: relative;
}

.wm-adminuser-main-ui > header > div:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #cc0000;
  top: 15px;
  left: -10px;
}

.wm-adminuser-main-ui .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
  left: 30px;
}
