@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-myreport-main-ui {
    height: 100%;
    @include pos(r);

    .wm-myreport-left {
        background: #fff;
        
        @include pos(a);
        width: 100%;
        overflow: hidden;

        //border:1px solid red;
        height: 100%;
        @include displayFlex(column);

        header {
            height: 60px;
            line-height: 60px;
            text-indent:2em;
            width: 100%;

            span{
                margin-right: 20px;;
            }

            @include pos(r);

            &:before {
                content: '';

                @include pos(a);

                width: 98%;
                left: 1%;
                border-top: 1px solid #eeeeee;
                bottom: 0;
            }
        }

        section{
            -webkit-flex-grow:1;
            flex-grow:1;

            @include pos(r);
            
            .wm-no-report{
                width: 100%;
                height: 100%;
                @include pos(a);
                cursor: pointer;
                @include displayFlex(row);
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items:center;
                align-items:center;
                &>div{
                    text-align: center;
                    img{
                        width: 100px;
                        display: block;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}
