/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-myreport-main-ui {
  height: 100%;
  position: relative;
}

.wm-myreport-main-ui .wm-myreport-left {
  background: #fff;
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.wm-myreport-main-ui .wm-myreport-left header {
  height: 60px;
  line-height: 60px;
  text-indent: 2em;
  width: 100%;
  position: relative;
}

.wm-myreport-main-ui .wm-myreport-left header span {
  margin-right: 20px;
}

.wm-myreport-main-ui .wm-myreport-left header:before {
  content: '';
  position: absolute;
  width: 98%;
  left: 1%;
  border-top: 1px solid #eeeeee;
  bottom: 0;
}

.wm-myreport-main-ui .wm-myreport-left section {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  position: relative;
}

.wm-myreport-main-ui .wm-myreport-left section .wm-no-report {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.wm-myreport-main-ui .wm-myreport-left section .wm-no-report > div {
  text-align: center;
}

.wm-myreport-main-ui .wm-myreport-left section .wm-no-report > div img {
  width: 100px;
  display: block;
  margin: 10px 0;
}
