@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-rater-main-ui{
    background: #fff;
     .wm-rater-header {
         height: 50px;
         width: 100%;
         line-height: 50px;
         border-bottom: 1px solid #eee;
         &>div {
             font-size: 18px;
             margin-left: 40px;
             @include pos(r);
             &:nth-of-type(1){
                 @include pos(a);
                 left: 0;
                 top: 0;
             }
         }

         .wm-rate-tabs{
             width: 50%;
             margin: 0 auto;
             ul{
                 @include displayFlex(row);
                 -webkit-justify-content:space-around;
                 justify-content:space-around;

                 li{
                    padding: 0 20px;
                    cursor: pointer;
                   &.active{
                       color:#cc0000;
                       @include pos(r);
                       &:before{
                           content:'';
                           @include pos(a);
                           width: 100%;
                           height: 2px;
                           background:#cc0000;
                           left: 0;
                           bottom: 0;
                       }
                   }  
                 }
             }
         }
     }

     .wm-rater-search-where{
         width: 100%;
         height: 50px;
         margin-top: 2px;
         line-height: 50px;

         border:1px solid #eee;
         @include pos(r);
         &>span{
            @include pos(a);
            left: 30px;
            color:#000;
         }
         ul{
              @include displayFlex(flex);
              
              max-width: 600px;
              width: 24vw;
              margin-left: 80px;;
              justify-content: space-around;
              -webkit-justify-content: space-around;
         }
     }

     .wm-report-list {
         $color:#ddd;
         border-left: 1px solid  $color;
         box-sizing: border-box;
         border-top: 1px solid  $color;
         li {
             border-right: 1px solid  $color;
             border-bottom: 1px solid  $color;
             float: left;
             width: 100%;
             box-sizing: border-box;
             /* @include displayFlex(row);
             justify-content: space-between; */
           //  min-height: 160px;
             &>div {
                 float: left;
                 &:nth-of-type(1) {
                     width: 70%;
                     -webkit-flex-grow: 3;
                     flex-grow: 3;
                     border-right:1px solid  $color;
                 }
                 &:nth-of-type(2) {
                     width: 24vw;
                     
                 }

                 .wm-report-detail{
                     @include displayFlex(row);
                     margin-right: 20px;
                     
                     div{
                        &:nth-of-type(2){
                            
                        }
                    }
                    padding: 20px;
                    .wm-report-pcbilethum{
                        width: 230px;
                        height: 130px;
                        @include displayFlex(row);
                        background: #f4f4f4;
                        
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-align-items: center;
                        align-items: center;
                        overflow: hidden;
                        margin-right: 20px;
                        
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }

                    .wm-myreport-item {
                        @include displayFlex(row);
                        min-height: 24px;
                        line-height: 24px;
                        &>div {
                            &:nth-of-type(1) {
                                text-align: center;
                                width: 60px;
                            }
                            &:nth-of-type(2) {
                                -webkit-flex-grow: 1;
                                flex-grow: 1; //border:1px solid red;
                             
                            }
                            input {
                                height: 24px;
                                border: 1px solid #eee;
                                outline: none;
                            }
                        }
                    }


                    .filedesc{
                        height: 70px;
                        max-width:17vw;;
                        overflow: hidden;
                    }
                 }
             }
         }
     }

     .ivu-poptip-confirm .ivu-poptip-body .ivu-icon{
         left: 30px;
     }
     
}

.ivu-table-body::-webkit-scrollbar,
.wm-scroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

.ivu-table-body::-webkit-scrollbar-thumb,
.wm-scroll::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.ivu-table-body::-webkit-scrollbar-track,
.wm-scroll::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}